* {
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: 20px;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
}

header > a {
  padding: 5px 30px;
  text-decoration: none;
}

header > a:hover {
  color: blue;
  text-decoration: underline;
}

body {
  background: #f0f2f5;
}

.login-layer {
  width: 960px;
  margin: 0 auto;
  margin-top: 140px;

  .logo-box {
    display: inline-block;
    width: 560px;
    height: 360px;
    vertical-align: top;

    & > img {
      width: 300px;
      margin-left: -26px;
      margin-top: 44px;
    }

    & > h2 {
      margin: 0;
      padding: 0;
      font-size: 28px;
      font-weight: normal;
      line-height: 32px;
      width: 500px;
    }
  }

  .login-box {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 400px;
    height: 360px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #e7f3ff;
    text-align: center;
    background: white;
  }

  .input-email,
  .input-pass {
    width: calc(100%);
    height: 48px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0 10px;
  }

  .input-email:focus,
  .input-pass:focus {
    outline: none !important;
    border-color: #1877f2;
    box-shadow: 0 0 0 2px #e7f3ff;
    caret-color: #1877f2;
  }

  .login-button {
    width: 100%;
    height: 48px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-top: 12px;
  }

  .div-line {
    border-bottom: 1px solid #dadde1;
    width: 100%;
    margin: 20px 0;
  }

  a {
    margin-top: 12px;
    display: block;
    color: #1877f2;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .regist {
    border-radius: 6px;
    border: none;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: #42b72a;
    color: white;
    font-weight: bold;
  }

  .new-page {
    margin-top: 60px;
    font-size: 14px;

    & > a {
      font-size: 14px;
      display: inline-block;
      text-decoration: none;
      font-weight: 600;
      color: inherit;
    }
    & > a:hover {
      text-decoration: underline;
    }
  }
}

.regist-layer {
  /* 컨테이너 중앙 정령 */
  width: 420px;
  margin: 0 auto;

  /* 로고 이미지 */
  .logo {
    text-align: center;
    margin-top: 10px;

    img {
      height: 100px;
      display: inline-block;
    }
  }
  /* 카드 배경 및 그림자 설정 */
  .card {
    position: relative;
    align-items: center;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 0 2px #e7f3ff;
    box-sizing: border-box;
  }
  /* 입력 폼의 기본 설정 */
  input,
  select,
  .in-rdo {
    color: #1c1e21;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
    margin: 5px 2px;
    font-size: 15px;
    line-height: 16px;
    padding: 10px;
    outline: none !important;
  }
  /* 카드 헤더 */
  .header {
    border-bottom: 1px #ccd0d5 solid;
    padding: 10px;
    margin-top: 10px;

    & > .title {
      font-size: 25px;
      line-height: 32px;
      text-align: center;
    }
    & > .subject {
      color: #606770;
      font-size: 15px;
      line-height: 24px;
      margin-bottom: 12px;
      text-align: center;
    }
  }
  /* 카드 바디 */
  .body {
    padding: 20px;
  }
  .in-name {
    & > div {
      width: calc(50% - 4px);
      margin-left: 2px;
      margin-right: 2px;
      display: inline-block;
    }
  }
  .in-info {
    & > div {
      width: calc(100% - 4px);
      display: block;
    }
  }
  .in-name,
  .in-info {
    input {
      width: 100%;
      box-sizing: border-box;
    }
  }
  .in-age select,
  .in-type .in-rdo {
    width: calc(100% / 3 - 4px);
    display: inline-block;
    height: 36px;
    padding: 5px 10px;
    box-sizing: border-box;
  }
  .in-age option {
    font-size: 14px;
  }
  /* 라디오 버튼 텍스트 */
  .text {
    color: #606770;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin-top: 10px;
  }
  /* 라디오 버튼 텍스트 */
  .in-rdo > label {
    font-size: 16px;
  }
  /* 하단의 설명 */
  .guide {
    color: #777;
    font-size: 11px;
  }
  /* 가입하고 버튼 및 로그인 레이아웃 */
  .regist,
  .login {
    text-align: center;
    margin: 15px 0;
  }
  /* 가입하기 버튼 */
  button {
    background: #00a400;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    padding: 0 32px;
    margin-top: 20px;
    width: 200px;
  }
  /* 로그인 바로기기 */
  .login {
    a {
      font-size: 16px;
      color: #1877f2;
      text-decoration: unset;
    }
  }
}
